<% layout("/layouts/boilerplate") %>

    <div id="filters">
        <a href="/listings/category/Trending" class="filter">
            <div><i class="fa-solid fa-fire"></i></div>
            <p>Trending</p>
        </a>
        <a href="/listings/category/Rooms" class="filter">
            <div><i class="fa-solid fa-hotel"></i></div>
            <p>Rooms</p>
        </a>
        <a href="/listings/category/Iconic Cities" class="filter">
            <div><i class="fa-solid fa-mountain-city"></i></div>
            <p>Iconic Cities</p>
        </a>
        <a href="/listings/category/Mountains" class="filter">
            <div><i class="fa-solid fa-mountain"></i></div>
            <p>Mountains</p>
        </a>
        <a href="/listings/category/Castles" class="filter">
            <div><i class="fa-brands fa-fort-awesome"></i></div>
             <p>Castles</p>
        </a>
        <a href="/listings/category/Amazing Pools" class="filter">
            <div><i class="fa-solid fa-ship"></i></div>
            <p>Amazing Pools</p>
        </a>
         <a href="/listings/category/Camping" class="filter">
            <div><i class="fa-solid fa-campground"></i></div>
            <p>Camping</p>
         </a>
         <a href="/listings/category/Farms" class="filter">
            <div><i class="fa-solid fa-cow"></i></div>
            <p>Farms</p>
         </a>
         <a href="/listings/category/Arctic" class="filter">
             <div><i class="fa-solid fa-snowflake"></i></div>
            <p>Arctic</p>
         </a>
         <a href="/listings/category/Domes" class="filter">
            <div><i class="fa-solid fa-igloo"></i></div>
            <p>Domes</p>
         </a>
    </div>
   
<% if (listings.length > 0) { %>

<div class="row mt-3">

    <% for(let listing of listings) { %>

    <div class="col-lg-4 col-md-6 col-sm-12 mb-4">

        <a href="/listings/<%= listing._id %>" class="listing-link">

            <div class="card listing-card">

                <img
                    src="<%= listing.image.url %>"
                    class="card-img-top"
                    alt="listing-image"
                >

                <div class="card-img-overlay"></div>

                <form action="/wishlist/<%= listing._id %>" method="POST" class="wishlist-form">
                    <button type="submit" class="love-btn">
                        <i class="fa-regular fa-heart"></i>
                    </button>
                </form>

                <div class="card-body">

    <div class="listing-info">

        <b><%= listing.title %></b>

         <span class="listing-rating">
    <i class="fa-solid fa-star"></i>

    <% if(listing.reviews && listing.reviews.length > 0){ %>

        <%= (
            listing.reviews.reduce(
                (sum, review) => sum + review.rating,
                0
            ) / listing.reviews.length
        ).toFixed(1) %>

    <% } else { %>

        New

    <% } %>
</span>
    </div>

  <p class="card-text mt-1">
    Incl. taxes:
       &#8377;<%= listing.price.toLocaleString("en-IN") %> /night

    </p>
</div>

            </div>

        </a>

    </div>

    <% } %>

</div>

<% } else { %>

<div class="no-results">
    <i class="fa-solid fa-face-sad-tear"></i>
    <h2>No Listings Found</h2>
    <p>Sorry, we couldn't find any stays matching your search.</p>

    <a href="/listings" class="btn btn-dark mt-2">
        Explore All Listings
    </a>
</div>

<% } %>