<% layout("/layouts/boilerplate") %>

<div class="receipt-container">

    <div class="receipt-header">

        <div class="icon">
            <i class="bi bi-check-circle-fill"></i>
        </div>

        <h1>Rentora</h1>

        <p>
            Payment Receipt
        </p>

        <p class="success">
            Payment Successful
        </p>

    </div>


    <h3 class="section-title">
        Transaction Details
    </h3>

    <div class="details">

        <p>
            <span>Payment ID</span>
            <span><%= payment.paymentId %></span>
        </p>

        <p>
            <span>Order ID</span>
            <span><%= payment.orderId %></span>
        </p>

        <p>
            <span>Amount Paid</span>
            <span>₹<%= payment.amount  %></span>
        </p>

        <p>
            <span>Date</span>
            <span>
                <%= payment.paidAt.toDateString() %>
            </span>
        </p>

    </div>


    <h3 class="section-title">
        Booking Details
    </h3>


    <div class="details">

        <p>
            <span>Property</span>
            <span>
                <%= payment.listing.title %>
            </span>
        </p>

        <p>
            <span>Guest</span>
            <span>
                <%= payment.user.username %>
            </span>
        </p>

        <p>
            <span>Check In</span>
            <span>
                <%= payment.booking.checkIn.toDateString() %>
            </span>
        </p>

        <p>
            <span>Check Out</span>
            <span>
                <%= payment.booking.checkOut.toDateString() %>
            </span>
        </p>

        <p>
            <span>Status</span>
            <span>
                <%= payment.status %>
            </span>
        </p>

    </div>


    <div class="footer">

        <hr>

        <p>
            Thank you for choosing Rentora <i class="bi bi-heart-fill"></i>
        </p>

        <p>
            This is a computer-generated receipt.
        </p>
        <a href="/payments/<%=payment._id%>/pdf" class="btn btn-success mt-3">

        <i class="bi bi-file-earmark-pdf-fill"></i>
        Download PDF

        </a>
    </div>

</div>